# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
*.pyc
*.exe
*.exe~
*.dll
*.so
*.dylib
.dccache

# Testing
coverage.txt
yarn.lock

# IDE
.idea/
.vscode/
*.iml
*.code-workspace

# Node.js
**/node_modules

# OpenZeppelin contracts
contracts/@openzeppelin/*

# Build files
galacticad/build/

build/